[submodule "radical"]
	path = radical
	url = https://github.com/Elv13/radical.git
[submodule "shifty"]
	path = shifty
	url = git://github.com/cdump/awesome-shifty
[submodule "vicious"]
	path = vicious
	url = http://git.sysphere.org/vicious
[submodule "theme/icons/material-design-icons"]
	path = theme/icons/material-design-icons
	url = https://github.com/google/material-design-icons.git
